.DS_Store
*.iml

# Android
android/**/.gradle/
android/.idea/
android/**/.kotlin/
android/local.properties
android/**/build/

# Backend
backend/.gradle/
backend/.kotlin/
backend/build/
*.db

# Admin
admin/node_modules/
admin/dist/
backend/src/main/resources/admin/
