app = "dynamicforms-backend"
primary_region = "ams"

[build]

[env]
  JDBC_URL = "jdbc:sqlite:/data/dynamicforms.db"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[mounts]
  source = "data"
  destination = "/data"
